/* PBASIC Full Syntax theme for codemirror */

/* Color scheme */

.cm-s-parallax.CodeMirror {
  background-color:#ffffff;
  color:#000000;
  line-height:1.4375;
}
.cm-s-parallax .cm-comment {color:#008000}
.cm-s-parallax .cm-keyword, .cm-s-parallax .cm-property {color:#000000}
.cm-s-parallax .cm-atom,.cm-s-parallax .cm-number {color:#000000}
.cm-s-parallax .cm-node,.cm-s-parallax .cm-tag {color:#000000}
.cm-s-parallax .cm-string {color:#ff0000}
.cm-s-parallax .cm-variable,.cm-s-parallax .cm-qualifier {color:#000000}

.cm-etDirective {color: #008080}
.cm-etTargetModule {color: #008080}
.cm-etIOFormatter {color: #000080}
.cm-etVariable {color: #800080}
.cm-etConstant {color: #800080}
.cm-etCCDirective {color: #808080}
.cm-etInstruction {color: #0000ff}

.CodeMirror-selectedtext {color: #ffffff !important;}
.CodeMirror-selected {background: #000080 !important;}
.cm-searching {
  color: #ffff00 !important;
  background-color: #000000 !important;
}

@keyframes searching {
  from { padding: 5px 0px; }
  to { padding: 3px 0px; }
}
.cm-searching.CodeMirror-selectedtext  {
  animation-name: searching;
  animation-duration: 0.2s;
  animation-timing-function: ease;
  padding: 3px 0px
}

/* Editor styling */

.cm-s-parallax pre {
  padding: 0px 8px 0px 0px;
}

.cm-s-parallax .CodeMirror-gutter-wrapper {
  margin-left: 4px;
}

.cm-s-parallax .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-parallax .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-parallax .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-parallax .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-parallax div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

.parallax-button{
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0 5px 0;
  min-width: 80px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}
